* {
  margin: 0;
  padding: 0;
}

#board {
  width: 500px;
  height: 200px;
  border: 2px solid black;
}

#boneco {
  width: 20px;
  height: 50px;
  background-color: purple;
  position: relative;
  top: 150px;
}

.animar {
  animation: boneco 500ms infinite;
}

@keyframes boneco {
  0% {
    top: 150px;
  }
  30% {
    top: 100px;
  }
  70% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}

#obstaculo {
  width: 20px;
  height: 20px;
  background-color: brown;
  position: relative;
  border-radius: 30px;
  top: 130px;
  left: 480px;
  animation: obstaculo 1s infinite linear;
}

@keyframes obstaculo {
  0% {
    left: 480px;
  }
  100% {
    left: -40px;
  }
}
